// COLORS
$color-primary: blue;
$color-primary--light: lightblue;
$color-primary--dark: darkblue;

// $color-seconday-light: 
// $color-secondary-dark: 

// $color-tertiary-light: 
// $color-tertiary-dark: 

$color-grey--light-1: #f7f7f7;
$color-grey--light-2: #eee;

$color-grey--dark: #777;
$color-grey--dark-2: #999;
$color-grey--dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// BORDER-RADIUS
// $border-radius-default: 

// GRID