.header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary--light, 0.8),
    rgba($color-primary--dark, 0.8)
  ),
  url("https://i.imgur.com/wyZFo4n.png");
  background-size: cover;
  background-position: center;
  position: relative;

  &__text-box {
    @include absCenter;
    text-align: center;
  }
}

// heading text styles in base/typography